html {
  height: 100%;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

.themain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.logotext {
  font-size: 1.5rem;
  display: inline-block;
  color: #9ceaef;
  font-weight: bold;
  margin-right: 2rem;
}

.menu {
  display: inline-flex;
  list-style: none;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  color: white;
  /*background-color: white; */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  -moz-text-fill-color: transparent;
}
.active {
  /* background-color: #9ceaef; */
  text-decoration:dotted;
  color: #e29578;
  font-weight: bold;
}

#introduction_s {
  width: 900px;
  margin: auto;
}

.signError {
  height: 1.5rem;
}

/* Infobox thankyou */

.infoboxcontainer {
  display: flex;
}

.infoboxcolumn {
  flex: 1;
  display: flex;
}

.infoboxImg {
  height: 25vh;
  width: 20vw;
}
.thankyouContainer {
  display: flex;
  height: 25vh;
  position: fixed;
  top: 15rem;
  left: 13rem;
}

.thankyouContainer2 {
  display: flex;
  position: relative;
  left: 13rem;
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006d77;
  height: 80px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
}

.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #006d77;
  color: white;
  margin-top: auto;
}

.signinup_main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.signin_main {
  margin-top: 30px;
  margin-bottom: 30px;
}

.signup_main {
  margin-bottom: 30px;
  margin-top: 30px;
}

#signinup_main {
  margin: 0;
}

.outlet_main {
  min-height: calc(100vh - 140px);
  margin: 80px 120px 0;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

form {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  color: #086375;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.create_event_main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.create_event_form {
  height: 950px;
  padding: 1rem;
  background-color: #edf6f9;
}

.search_container {
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}

.search_form {
  background-color: #edf6f9;
  padding: 1rem;
  width: 25rem;
}

.signinform {
  height: 450px;
  background-color: #edf6f9;
  padding-top: 2.5rem;
}

.signupform {
  height: 750px;
  margin: 100px 0;
  background-color: #edf6f9;
  padding-top: 1rem;
}

form h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

form h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.textlabel {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.textinput {
  display: block;
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

::placeholder {
  color: #e5e5e5;
}

#su_organization {
  margin-top: 30px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
}
.su_username {
  margin-top: 0px;
}

#checkbox_label {
  display: inline-block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  margin-top: 50px;
  width: 100%;
  background-color: #006d77;
  color: #edf6f9;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}
.signup_btn,
.update_btn {
  margin-top: 30px;
  width: 100%;
  background-color: #006d77;
  color: #edf6f9;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}

.update_btn {
  margin-top: 15px;
}

.infoboxcolumn {
  flex-grow: 1;
  height: 500px;
}

.infoboxcolumn + .infoboxcolumn {
  margin-left: 2%;
}

/* Event Card Container and Card */

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.event-cardFix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.event-card-image {
  border-radius: 9px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.event-card {
  cursor: pointer;
  width: 200px;
  min-height: 310px;
  border-radius: 9px;
  margin: 10px 0 20px 0;
  background-color: #c1dbde;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 1px 7px;
  border-radius: 5px;
  color: #006d77;
  background-color: #cbefed;
  animation: flip 4s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.like_container{
  background-color: #edf6f9;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.hearticon{
  display:flex;
  width: 20px;
  height: 20px;
}


@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.event-title {
  color: #2f5866;
  font-size: 16px;
  margin: 5px;
}

.event-date {
  color: #18068b;
  font-size: 14px;
}

.event-organizer {
  color: #7c7a8a;
  font-size: 12px;
}

.event-venue {
  color: #2d3a40;
  font-size: 15px;
  font-style: italic;
}
.eventinfo-description {
  color: #05ada8;
  font-size: 24px;
}
.eventimage_container {
  position: relative;
  height: 41vh;
  filter: blur(50px) brightness(0.9);
}
.eventpage_img {
  position: relative;
  height: 350px;
  margin-top: -350px;
}
.eventinfo-name {
  color: #028090;
  margin-top: 20px;
}
.eventinfo-fee,
.eventinfo-location,
.eventinfo-participants {
  font-size: 20px;
  color: rgba(3, 3, 9, 0.6);
}

/* UpdateUser Page*/

.updateuserform {
  position: reative;
  margin-left: 300px;
  margin-top: 25px;
  max-height: 750px;
  width: 25em;
  left: 60px;
  background-color: #edf6f9;
}

.updateuser_main {
  display: flex;
  width: 100%;
  background-image: url(./images/updateprofileBg.jpg);
  background-size: cover;
}

#updateuser_main {
  margin: 0;
}

.updateform_p {
  margin-top: -20px;
}

.paginationBtns {
  width: 100%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.paginationBtns a {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #aeecef;
  color: #2f5866;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: #2f5866;
}

.paginationActive a {
  color: white;
  background-color: #2f5866;
}
.paginationDisabled a {
  color: #aeecef;
  background-color: #aeecef;
}

.main h1 {
  color: #006d77;
  font-size: 2rem;
}

.map_text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.combo_search {
  position: absolute;
  top: 1rem;
  left: 50%;
  height: 2rem;
  max-width: 600px;
  z-index: 10;
}

#locate {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  z-index: 10;
}

#locate img {
  width: 30px;
  cursor: pointer;
}

.mapcontainer_div {
  position: relative;
  width: 50vw;
  height: 50vh;
  margin-left: 5rem;
  margin-top: -1.5rem;
}

.create_event_main {
  display: flex;
}

.main_slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_slider {
  max-width: 100%;
  margin-top: 5rem;
  position: relative;
  margin: 1rem;
  margin-bottom: 20px;
}

.left_arrow,
.right_arrow {
  position: absolute;
  top: 58%;
  width: auto;
  padding: 2px 2px;
  margin-top: -22px;
  color: black;
  transform: translate(50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.5;
  font-size: 1.5rem;
  background-color: white;
}

.right_arrow {
  right: 1rem;
}

.left_arrow:hover,
.right_arrow:hover {
  transform: scale(125%) translate(45%, -40%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.8;
}


.sliderImg {
  width: 100%;
  max-height: 350px;
}

/* Join Modal*/
.ModalWrapper,
.ModalContent,
.modal-background,
.ModalImg,
.ModalContent {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.modal-background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  top: 0;
  left: 0;
}
.ModalWrapper {
  width: 50rem;
  height: 35rem;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.ModalImg {
  width: 45%;
  height: 80%;
  margin: 50px;
  border-radius: 10px 10px 10px 10px;
  background: white;
}
.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}

.ModalButton {
  padding: 10px 24px;
  background: #006d77;
  color: #fff;
  border: none;
}
.ModalJoinButton,
.ModalSendButton,
.ModalDiscardButton,
.joinEventBtn {
  padding: 10px 24px;
  margin: 10px;
  background: #006d77;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.joinEventBtn {
  font-size: 1.5rem;
  background: #05668d;
  margin-top: 10px;
}
.createeventBtn {
  margin-top: 1rem;
}
.ModalDiscardButton {
  margin-right: 20px;
  background: #023e8a;
  margin: 10px;
}
.ModalSendButton {
  margin: 20px;
}
.JoinModalInput {
  font-size: 16px;
}
.CloseModalButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}
.success {
  background-color: #3dccc7;
  margin-top: 10px;
}

.ModalContent label {
  font-style: italic;
  color: #03045e;
  font-size: 1rem;
}

/*about us*/
.aboutus-hero {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.aboutus-hero-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.aboutus-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-hero-text {
  color: white;
  font-size: 48px;
  font-weight: bold;
  flex: 1;
  z-index: 2;
  position: relative;
  top: -4rem;
}
.blabla {
  padding: 20px;
  background: #2ec4b6;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.blabla h2 {
  text-align: center;
}

.map_container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  left: 4rem;
}

.useravatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.userprofile_container {
  background-color: #edf6f9;
  box-sizing: border-box;
  margin-right: 1rem;
}

.welcomeUser {
  color: #006d77;
}

.userprofile_container {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userprofile_container div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.userNavmenu {
  list-style: none;
  font-size: 1.1rem;
  width: 100%;
  margin-left: 20px;
}
.userNavmenu li {
  display: inline-block;
  padding: 1rem;
}

.userNavmenu a {
  color: #006d77;
}
.userNavMenu_container {
  margin: 0;
  width: 700px;
}

.userprofile_container p {
  font-size: 1rem;
  font-weight: bold;
}

/* confirmation box */

.confirmation__box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmationQ{
  font-size: 2rem;
  color: #006d77;
  margin-bottom: 25px;
}

.confirmationbutton__box{
  margin-top: 25px;
  width: 550px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .dot {
    width: 10px;
  }
  .dot {
    height: 10px;
  }
  .right_arrow,
  .left_arrow {
    font-size: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .header_main {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -1000px;
    transition: all 0.5s ease-in-out;
  }

  .menu.active {
    top: 0px;
    /* background-color: #006d77; */
    transition: all 0.5s ease-in-out;
    height: 28vh;
    text-decoration: underline;
  }

  .item:nth-child(1) {
    margin-top: 27px;
  }

  .header_main img {
    margin-left: 25px;
    z-index: 999;
  }

  .header_toggle {
    margin-right: 5%;
    z-index: 999;
  }

  .header_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  #mobile-menu {
    cursor: pointer;
  }

  .item {
    text-align: center;
    height: 60px;
  }

 /*  .link {
    font-size: 1.7rem;
  } */

  #mobile-menu.act .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.act .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.act .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .cards-list {
    flex-direction: column;
  }
}
