html {
  height: 100%;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

textarea{
  resize: none;
}

.themain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.logotext {
  font-size: 1.5rem;
  display: inline-block;
  color: #9ceaef;
  font-weight: bold;
  margin-right: 2rem;
}

.menu {
  display: inline-flex;
  list-style: none;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  color: white;
  /*background-color: white; */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  -moz-text-fill-color: transparent;
}

#introduction_s {
  width: 900px;
  margin: auto;
}

.signError {
  height: 1.5rem;
}

/* Infobox thankyou */

.infoboxcontainer {
  display: flex;
}

.infoboxcolumn {
  flex: 1;
  display: flex;
}

.infoboxImg {
  height: 25vh;
  width: 20vw;
}

.thankyoutext {
  color: #086375;
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #006d77;
  height: 80px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
}

.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: #006d77;
  color: white;
  margin-top: auto;
}

.signinup_main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.signin_main {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 275px;
}

.signup_main {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 275px;
}

#signinup_main {
  margin: 0;
}

.outlet_main {
  min-height: calc(100vh - 135px);
  margin: 80px 120px 0;
  background-color: #dcf1f5;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

form {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  color: #086375;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.create_event_main {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.create_event_form {
  width: 20vw;
  max-height: 110vh;
  max-width: 20vw;
  padding: 1rem;
  background-color: #edf6f9;
}

.search_container {
  width: 100%-240px;
  display: flex;
  justify-content: center;
}

.search_map {
  position: relative;
}

.search_form {
  background-color: #edf6f9;
  padding: 1rem;
  height: 80vh;
  min-width: 10vw;
  margin-right: 2rem;
}

.search_output {
  max-width: 480px;
  min-width: 480px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0px;
  margin-right: 2rem;
}

.pagination_search {
  margin-top: -10vh;
}

.pagination_search h2 {
  color: #086375;
}

.pagination_search h1 {
  color: #086375;
}

#nosuchevents {
  margin-top: 5rem;
  margin-right: 2rem;
  min-width: 480px;
  max-width: 480px;
  color: #086375;
}

.nojoinedevents {
  color: #00a896;
}

.greentitle {
  color: #028090;
}

.mainbackground {
  background-color: #dcf1f5;
}

.search_title {
  color: #086375;
  margin: 40px 120px 40px;
  line-height: 1.6;
}
.inner_search {
  margin-bottom: 100px;
  margin-top: 80px;
}
.signinform {
  height: 450px;
  background-color: #edf6f9;
  padding-top: 2.5rem;
}

.signupform {
  height: 750px;
  margin: 100px 0;
  background-color: #edf6f9;
  padding-top: 1rem;
}

.contactusform {
  background-color: #edf6f9;
  width: 18vw;
  margin: 20px;
}

.rowForm {
  margin: 18px 0;
  display: flex;
}

form h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

form h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.textlabel {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.textinput {
  display: inline-block;
  height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 5px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}



.textinput2 {
  display: block;
  height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 6px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

.select {
  display: block;
  height: 25px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 6px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

.datepickerinput {
  height: 25px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 6px;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  cursor: pointer;
}

::placeholder {
  color: rgb(186, 182, 182);
}

#su_organization,
#cu_moreinfo {
  margin-top: 12px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
}

#cu_moreinfo {
  margin-top: 10px;
  padding: 10px;
}

.su_username {
  margin-top: 0px;
}

#checkbox_label {
  display: inline-block;
  margin-top: -15px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.btn {
  margin-top: 50px;
  width: 100%;
  background-color: #006d77;
  color: #edf6f9;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}

.signup_btn,
.update_btn {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 40%;
  background-color: #006d77;
  color: #edf6f9;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}
.signup_btn {
  width: 100%;
  margin-left: 0;
}

.update_btn {
  margin-top: 15px;
}

.infoboxcolumn {
  flex-grow: 1;
  height: 500px;
}

.infoboxcolumn + .infoboxcolumn {
  margin-left: 2%;
}

/* Event Card Container and Card */

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.event-cardFix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.event-card-image {
  border-radius: 9px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.event-card {
  cursor: pointer;
  width: 200px;
  min-height: 310px;
  border-radius: 9px;
  margin: 10px 0 20px 0;
  background-color: #c1dbde;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 1px 7px;
  border-radius: 5px;
  color: #006d77;
  background-color: #cbefed;
  animation: flip 4s infinite;
  animation-delay: calc(0.2s * var(--i));
}

.cardlist-title {
  margin: 20px;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

.event-title {
  color: #2f5866;
  font-size: 16px;
  margin: 5px;
}

.event-date {
  color: #18068b;
  font-size: 14px;
}

.event-organizer {
  color: #7c7a8a;
  font-size: 12px;
}

.event-venue {
  color: #2d3a40;
  font-size: 15px;
  font-style: italic;
}

.eventinfo-description {
  color: #05ada8;
  font-size: 24px;
}

.eventimage_container {
  position: relative;
  height: 41vh;
  width: 80vw;
  filter: blur(50px) brightness(0.9);
}

.eventpage_img {
  position: relative;
  height: 350px;
  margin-top: -350px;
}

.eventinfo-name {
  color: #028090;
  margin-top: 20px;
}

.eventinfo-fee,
.eventinfo-location,
.eventinfo-participants,
.eventinfo-date {
  font-size: 20px;
  color: rgba(3, 3, 9, 0.6);
}

/* UpdateUser Page*/

.updateuserform {
  position: relative;
  margin-left: 7vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
  height: 80vh;
  width: 18vw;
  left: 60px;
  background-color: #edf6f9;
}

.updateuser_main {
  display: flex;
  width: 100%;
  background-image: url(./images/updateprofileBg.jpg);
  background-size: cover;
}

.updateform_p {
  margin-top: -10px;
}

.imagepreview_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.imagepreview_containerEvent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagepreview {
  height: 80px;
}

.removeimage_button {
  cursor: pointer;
  display: flex;
  height: 80px;
  padding: 15px;
  color: #d81159;
}

.paginationBtns {
  width: 100%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.paginationBtns a {
  padding: 2px 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: #aeecef;
  color: #2f5866;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: #2f5866;
}

.paginationActive a {
  color: white;
  background-color: #2f5866;
}

.paginationDisabled a {
  color: #aeecef;
  background-color: #aeecef;
}

.paginationDisabled a:hover {
  color: #aeecef;
  background-color: #aeecef;
  cursor: default;
}

.main h1,
.createevent_h1 {
  color: #006d77;
  font-size: 2rem;
}

.createvent_link {
  cursor: pointer;
  font-size: 22px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.warning {
  color: #d81159;
}

.map_text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.combo_search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1rem;
  max-width: 600px;
  z-index: 10;
}

.combo_search input {
  font-size: 1.5rem;
}

#locate {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  z-index: 10;
}

#locate img {
  width: 30px;
  cursor: pointer;
}

.mapcontainer_div {
  display: flex;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin-left: 5rem;
  margin-top: -1.5rem;
}

.mapcontainer_div_search {
  display: flex;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin-left: 26vw;
  margin-top: -6vh;
  margin-bottom: 6vh;
}

.searchmap {
  display: flex;
  margin-left: 35vw;
  margin-top: -20vh;
}

.create_event_main {
  display: flex;
}

/* Join Modal*/
.ModalWrapper,
.ModalContent,
.modal-background,
.ModalImg,
.ModalContent {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  top: 0;
  left: 0;
}

.ModalWrapper {
  width: 50rem;
  height: 35rem;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #c1dbde;
  color: #000;
  display: flex;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.ModalImg {
  width: 45%;
  height: 80%;
  margin: 50px;
  border-radius: 10px 10px 10px 10px;
  background: white;
  object-fit: cover;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}

.ModalButton {
  padding: 10px 24px;
  background: #006d77;
  color: #fff;
  border: none;
}

.ModalJoinButton,
.ModalSendButton,
.ModalDiscardButton,
.joinEventBtn {
  padding: 10px 24px;
  margin: 10px;
  background: #006d77;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.joinEventBtn {
  font-size: 1.5rem;
  background: #05668d;
  margin-top: 10px;
}

.about_iconcontainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  border-radius: 50%;
  place-items: center;
  transition: 0.5s;
  border: none;
  margin-top: 25px;
}

.about_icons {
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
  margin-top: 33vh;
  margin-left: 25px;
}

.about_iconcontainer:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: black;
  z-index: -1;
  transition: 0.5s;
}

.about_iconcontainer:hover {
  color: white;
}

.about_iconcontainer:hover:before {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

.mp_iconcontainer {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: white;
  color: #006d77;
  border-radius: 50%;
  place-items: center;
  transition: 0.5s;
  border: none;
  margin-top: 25px;
}

.mp_icons {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  margin-left: 25px;
}

.mp_iconcontainer:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: #006d77;
  z-index: -1;
  transition: 0.5s;
}

.mp_iconcontainer:hover {
  color: white;
}

.mp_iconcontainer:hover:before {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

.iconcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 37px;
  height: 37px;
  background: white;
  border-radius: 50%;
  place-items: center;
  transition: 0.5s;
  border: none;
  margin-top: 25px;
}

.iconcontainer:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background: #05668d;
  z-index: -1;
  transition: 0.5s;
}

.iconcontainer:hover {
  color: white;
}

.iconcontainer:hover:before {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

.joinmodal_icons {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.createeventBtn {
  margin-top: 1rem;
}

.JoinModalInput {
  font-size: 16px;
}

.CloseModalButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.success {
  background-color: #3dccc7;
  margin-top: 10px;
}

.ModalContent label {
  font-style: italic;
  color: #03045e;
  font-size: 1rem;
}

/*about us*/
.aboutus-hero {
  height: 75vh;
  width: 100vw;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutus-hero-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}

.aboutus-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus-hero-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
  z-index: 2;
  position: relative;
  top: -55vh;
}

.blabla {
  width: 100vw;
  padding: 20px 120px;
  background: #2ec4b6;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: start;
  /* margin-bottom: 20px; */
}

.blabla h2 {
  text-align: center;
}

.map_container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  left: 4rem;
}

.useravatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* Joined Events Profile Images*/

.useravatar_joinedeventsuserimage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.joinedeventsuserimage_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
  background-color: white;
  margin-left: 16vw;
  margin-top: 5px;
}

.img_wrap_joinedeventsuserimage {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.img_description_joinedeventsuserimage {
  position: absolute;
  background: #05668d;
  color: white;
  font-size: 120%;
  top: 0px;
  right: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.img_wrap_joinedeventsuserimage:hover {
  cursor: pointer;
}

.img_wrap_joinedeventsuserimage:hover div {
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

/* Joined Events Profile Images ENDING */
.userprofile_container {
  background-color: #edf6f9;
  box-sizing: border-box;
  margin-right: 1rem;
}

.welcomeUser {
  color: #006d77;
}

.userprofile_container {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userprofile_container div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userNavmenu {
  list-style: none;
  font-size: 1.1rem;
  width: 100%;
  margin-left: 20px;
}

.userNavmenu li {
  display: inline-block;
  padding: 1rem;
}

.userNavmenu a {
  color: #006d77;
  text-decoration: none;
}

.userNavMenu_container {
  margin: 0;
  width: 800px;
}

.userprofile_container p {
  font-size: 1rem;
  font-weight: bold;
}

.active {
  color: #e29578;
}

a.active {
  color: #e29578;
}

/* confirmation box */

.confirmation__box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf6f9;
}

.confirmationQ {
  font-size: 2rem;
  color: #006d77;
  margin-bottom: 25px;
}

.confirmationbutton__box {
  margin-top: 25px;
  width: 550px;
  display: flex;
  justify-content: space-around;
}

/* privacy faq contactus nocontent*/

.nocontent_head {
  height: 60vh;
  background-image: url(./images/blackhole.png);
  background-size: cover;
  opacity: 0.8;
  color: white;
  background-repeat: no-repeat;
}

.privacy_head {
  height: 25vh;
  width: 100vw;
  background-image: url(./images/PrivacyBg3.jpg);
  opacity: 0.8;
  color: white;
  margin-left: 0;
  margin-top: 8vh;
}

.privacy_icon_container {
  display: inline-flex;
  margin-top: 3rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  background-color: #006d77;
  border-radius: 50%;
}

.privacy_head_title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.privacy_text,
.faq_text {
  margin: 3rem 6rem 3rem 6rem;
  text-align: justify;
}

.privacy_text p,
.faq_text p {
  font-size: 16px;
  line-height: 1.6;
  margin-left: 5vw;
  margin-right: 5vw;
}

.privacy_text h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 4vw;
}

.privacy_title {
  margin-top: 1rem;
}

.contactlink {
  color: blue;
  margin-left: 5vw;
}
.privacylink {
  color: blue;
}

.faq_head {
  height: 25vh;
  width: 100vw;
  background-image: url(./images/faqBg2.jpg);
  color: white;
  margin-top: 8vh;
}

.faq_text h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #006d77;
  margin-left: 4vw;
}

.contactus_icon_container {
  display: inline-flex;
  margin-top: 3rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  background-color: #006d77;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.contactus_main {
  width: 100vw;
  margin-top: 8vh;
  margin-left: auto;
  background-image: url(./images/contact7.jpg);
  background-size: 4000px;
}

.contact_head_title {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #006d77;
}

.contactustextbox {
  margin-bottom: 2rem;
  color: #006d77;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.contactus_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
  margin-left: 20px;
  margin-right: 20px;
}

.contactus_text {
  text-align: left;
  color: #006d77;
}

.contactus_text h2 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.contactus_text h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.contactus_text h4 {
  margin-bottom: 10px;
  margin-top: 40px;
}

#panama {
  margin-top: 0px;
}

.cu_form_container {
  width: 800px;
  margin-top: 200px;
}

#cu_form {
  width: 30vw;
  margin-top: 20px;
  padding: 20px;
  background-color: #edf6f9;
  text-align: left;
}

.cu_textlabel {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.email {
  color: blue;
}

.contactmessage_btn {
  width: 340px;
  background-color: #006d77;
  color: #edf6f9;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}

.contactpopup {
  display: block;
  width: 15%;
  background-color: yellowgreen;
  font-size: 20px;
  margin-left: 54vw;
  margin-top: 10px;
}

.input-field {
  width: 250px;
  height: 30px;
  border-radius: 3px;
  padding: 0 5px;
  background-color: white;
  box-sizing: border-box;
  margin: 5px 10px 0px 0px;
  margin-top: 6px;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

.input-field-message {
  width: 540px;
  margin: 5px 10px 0px 0px;
  background-color: white;
  border-radius: 3px;
  padding: 0 5px;
  margin-top: 6px;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

.formRow {
  margin: 18px 0;
  display: flex;
}

.right-margin {
  margin-right: 25px;
}

.inline-block {
  display: inline-block;
}

.contact-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .contactus_main {
    background-image: url(./images/contact8.jpg);
    background-size: 700px;
  }
  #cu_form {
    width: 70vw;
    margin-left: -7.5vw;
  }

  .cu_form-container {
    width: 300px;
    margin-bottom: 50px;
  }
  .input-field-message {
    width: 315px;
  }
  .contactus_content {
    display: flex;
    flex-wrap: wrap;
  }
  .formRow {
    margin: 10px;
    display: inline-block;
  }
  .cu_textlabel {
    color: #006d77;
    align-items: center;
    justify-content: center;
  }

  .input-field {
    width: 305px;
  }

  .contactmessage_btn {
    width: 200px;
  }
  .responsive {
    margin-top: 20px;
  }

  .contactpopup {
    display: block;
    width: 50%;
    background-color: yellowgreen;
    font-size: 16px;
    margin-top: -4vh;
    margin-left: 25vw;
  }
}

/*************************************/

.infoBox_link :hover {
  cursor: pointer;
  color: #006d77;
}

.searchscreen_class {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  grid-gap: 20px;
  gap: 20px;
}

@media screen and (max-width: 960px) {
  .header_main {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -1000px;
    transition: all 0.5s ease-in-out;
  }

  .menu.active {
    top: 0px;
    transition: all 0.5s ease-in-out;
    height: 28vh;
    text-decoration: underline;
    background-color: #086375;
  }

  .item:nth-child(1) {
    margin-top: 27px;
  }

  .header_main img {
    margin-left: 25px;
    z-index: 999;
  }

  .header_toggle {
    margin-right: 5%;
    z-index: 999;
  }

  .header_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  #mobile-menu {
    cursor: pointer;
  }

  .item {
    text-align: center;
    height: 60px;
  }

  /*  .link {
    font-size: 1.7rem;
  } */

  #mobile-menu.act .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.act .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.act .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .cards-list {
    flex-direction: column;
  }

  .aboutus-hero-text {
    margin: 15px;
    font-size: 90%;
    z-index: 0;
  }
}

/***********Eventpage**********/

.eventpage_main {
  display: flex;
  flex: 1;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 76vw;
  align-items: center;
  margin-left: -13vw;
  margin-top: 20vh;
  z-index: 99;
}

.eventimagebg_container {
  width: 80%;
  height: 100%;
  margin-left: -13vw;
  filter: blur(50px) brightness(0.9);
}

.eventimage-hero {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventpage_img {
  display: inline-block;
  margin-top: 0vh;
  object-fit: cover;
  background-color: white;
}

.topcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 35vw;
  height: 420px;
  justify-content: flex-start;
  align-items: flex-start;
}

.box2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 20vw;
  justify-content: flex-start;
  align-items: flex-start;
  height: 420px;
  background-color: white;
  padding: 20px;
  text-align: left;
}

.eventpage_price {
  color: #3a506b;
  margin-top: 20px;
}

.eventpage_smalldate {
  color: #8f2d56;
}

.eventinfo-name {
  color: #028090;
  margin-top: 40px;
  text-align: left;
}

.organizeravatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 2vh;
}

.organizer {
  display: block;
  color: #0077b6;
}

.joinbutton-container {
  height: 10vh;
  width: 55vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dcf1f5;
}

.eventdescription-container {
  height: 40vh;
  width: 55vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  overflow: auto;
}

.eventpagedescription {
  margin: 20px;
  text-align: left;
}

.eventinfo-description2 {
  color: #05ada8;
  font-size: 20px;
  line-height: 1.6;
  margin: 10px;
  color: #5d737e;
}

.eventpagetop {
  margin-top: 10vh;
}

.eventinfo-date,
.eventinfo-location {
  margin-bottom: 10px;
  margin-left: 10px;
}

.simplemap_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28vh;
  width: 55vw;
  margin-left: 16vw;
  background-color: white;;

}

.mp_iconcontainer2 {
  margin-top: -25vh;
  margin-left: -2vh;
}

.attendees {
  display: flex;
  flex-direction: row;
}

.attendeetitle {
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #05668d;
  font-weight: bold;
  margin-top: 20px;
}
