html {
  height: 100%;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

.themain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header_main img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.menu {
  display: inline-flex;
  list-style: none;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, white 0%, gray 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.item:hover,
.link:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

#introduction_s {
  width: 900px;
  margin: auto;
}

.infoboxcontainer {
  display: flex;
}

.infoboxcolumn {
  flex-grow: 1;
  height: 500px;
}

.infoboxcolumn + .infoboxcolumn {
  margin-left: 2%;
}

.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  margin-top: auto;
}

.signinup_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.outlet_main {
  min-height: calc(100vh - 120px);
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.signinform {
  height: 470px;
}

.signupform {
  height: 600px;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.textlabel {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.textinput {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

::placeholder {
  color: #e5e5e5;
}

#su_organization {
  margin-top: 30px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
}

#checkbox_label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
  border-radius: 3px;
  cursor: pointer;
}

.infoboxcolumn {
  flex-grow: 1;
  height: 500px;
}

.infoboxcolumn + .infoboxcolumn {
  margin-left: 2%;
}

.footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  margin-top: auto;
}

/* Event Card Container and Card */

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.event-card-image {
  width: 250px;
  border-radius: 9px;
}

.event-card {
  margin: 10px 0 10px 0;
}

.event-title {
  color: #3b3851;
}

.event-date {
  color: #d4501f;
  font-size: 12px;
}

.event-organizer {
  color: #7c7a8a;
  font-size: 12px;
}

.event-venue {
  color: #d4501f;
  font-size: 12px;
}

/* Settings Page*/

.settingsform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paginationBtns {
  width: 80%;
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.map_text {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.combo_search {
  position: absolute;
  top: 1rem;
  left: 50%;
  height: 2rem;
  max-width: 600px;
  z-index: 10;
}

#locate {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  z-index: 10;
}

#locate img {
  width: 30px;
  cursor: pointer;
}

.mapcontainer_div {
  position: relative;
  width: 50vw;
  height: 50vh;
}

.create_event_main {
  display: flex;
}

@media screen and (max-width: 960px) {
  .header_main {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -1000px;
    transition: all 0.5s ease-in-out;
  }

  .menu.active {
    top: 0px;
    background-color: black;
    transition: all 0.5s ease-in-out;
    height: 28vh;
  }

  .item:nth-child(1) {
    margin-top: 27px;
  }

  .header_main img {
    margin-left: 25px;
    z-index: 999;
  }

  .header_toggle {
    margin-right: 5%;
    z-index: 999;
  }

  .header_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  #mobile-menu {
    cursor: pointer;
  }

  .item {
    text-align: center;
    height: 60px;
  }

  .link {
    font-size: 1.7rem;
  }

  #mobile-menu.act .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.act .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.act .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .cards-list {
    flex-direction: column;
  }

  .signinup_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .signin_main {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .signup_main {
    margin-bottom: 30px;
  }
}

.main_slider {
  margin-top: 100px;
  display: flex;
  position: relative;
}

.left_arrow {
  color: black;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.5;
  font-size: 2.5rem;
  background-color: white;
  padding: 2px 5px;
}

.right_arrow {
  color: black;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: scale(100%) translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.5;
  font-size: 2.5rem;
  background-color: white;
  padding: 2px 5px;
}

.left_arrow:hover {
  transform: scale(125%) translate(45%, -40%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.8;
}

.right_arrow:hover {
  transform: scale(125%) translate(-45%, -40%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0.8;
}

.dotset {
  text-align: center;
  display: flex;
  position: absolute;
  top: 460px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(179, 175, 175);
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
  cursor: pointer;
}

.dot:hover {
  background-color: rgb(92, 92, 92);
  transition: background-color 0.3s ease-in-out;
}

.active {
  background-color: rgb(92, 92, 92);
  transition: background-color 0.3s ease-in-out;
}
/* Join Modal*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
/* .modal-background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.ModalWrapper {
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -25rem;
  left: 35rem;
  z-index: 10;
  border-radius: 10px;
}
.ModalImg {
  width: 80%;
  height: 80%;
  margin: 50px;
  border-radius: 10px 10px 10px 10px;
  background: white;
}
.ModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}

.ModalButton {
  padding: 10px 24px;
  background: #141414;
  color: #fff;
  border: none;
}
.ModalJoinButton,
.ModalSendButton,
.ModalDiscardButton {
  padding: 10px 24px;
  background: #141414;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.ModalDiscardButton {
  margin-right: 20px;
}
.ModalSendButton {
  margin: 20px;
}
.JoinModalInput {
  font-size: 16px;
}
.CloseModalButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

/*about us*/
.aboutus-hero {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.aboutus-hero-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.aboutus-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-hero-text {
  color: white;
  font-size: 48px;
  font-weight: bold;
  flex: 1;
  z-index: 2;
  position: relative;
}
.blabla {
  padding: 100px;
  background:#2ec4b6;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
